h1 {
    color: red;
    text-align:center;
    font-size: 55px;
}
.grid>a {
    font-size: 30px;
    background-color: cyan;
    padding: 20px;
    text-align: center;
}
a:hover {
    color: orange;
}
a:visited {
    color: purple;
}
.grid {
    display: grid;
    padding: 20px;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto auto;
}
.main{
    background-image: url('/Users/himtin/desktop/climate_change.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(104, 218, 240);
}
.media {
    text-align:center;
    margin: 15px;
}
table, th, td{
    border:3px solid;
    border-collapse: collapse;
    padding: 5px;
    margin: 6px;
}
ol>li {
    font-size:30px;
    font-style: oblique;
    font-weight: bold;
    color:orange;
}
.percentage, .gas, .aspects {
    text-align:center;
}
img {
    width:30%;
    height:30%;
}
ol>ul>li {
    font-size: 20px;
    list-style: none;
}
ol>ul>li:before {
    content: "\1F30E";
    margin-right: 10px;
}
#review:before, #review:after {
    content: "\1F603";
    margin: 15px;
}
#submit {
    margin: 8px;
}
form {
    margin: 15px;
}
#wildfire, #solar{
    float: right;
    width: 30%;
    height: 30%;
    margin: 20px;
}
