h1 {
    color: red;
    text-align:center;
    font-size: 55px;
}
a:hover {
    color: orange;
}
a:visited {
    color: purple;
}
.button {
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 15px;
    cursor:pointer;
  }
  
.dropdown {
    float :right;
}
  
.dropdown_items {
    background-color: wheat;
    display:none;
}
  
.dropdown_items a {
    color: blue;
    padding: 15px;
    display: block;
}
  
.dropdown_items a:hover {background-color: rgba(249, 185, 65, 0.965);}
.dropdown:hover .dropdown_items {display: block;}
.dropdown:hover .button {background-color: green;}

.media {
    text-align:center;
    margin: 15px;
}
table, th, td{
    border:3px solid;
    border-collapse: collapse;
    padding: 5px;
    margin: 6px;
}
ol>li {
    font-size:30px;
    font-style: oblique;
    font-weight: bold;
    color:orange;
}
.percentage, .gas, .aspects, .submit{
    text-align:center;
}
img {
    width:30%;
    height:30%;
}
ol>ul>li {
    font-size: 20px;
    list-style: none;
}
ol>ul>li:before {
    content: "\1F30E";
    margin-right: 10px;
}
#review:before, #review:after {
    content: "\1F603";
    margin: 15px;
}
form {
    margin: 15px;
}
#wildfire, #solar{
    float: right;
    width: 30%;
    height: 30%;
    margin: 20px;
}
#submit{
    font-size:15px;
    margin:10px;
    color:blue;
} 

.correct, .incorrect {
    display:none;
    font-weight:bold;
}
h2 {
    margin-inline-start: 10px;
}
.box {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid rgb(22, 163, 22);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
.comment {
    width: 100%;
    margin-bottom: 10px;
}
